{% extends 'base.html' %}

{% block content %}
<!-- Link to external CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">

<div class="slideshow-container">


  <div class="mySlides bottom-text-slide">
    <img src="static/images/vid1.png" alt="Image 1">
    <div class="text-bottom">  Always Ready to Assist</div>
  </div>
  

<div class="mySlides bottom-text-slide">
  <img src="static/images/Amb1.jpg" alt="Image 1">
  <div class="text-bottom">Trust in Our Expertise</div>
</div>



<div class="mySlides">
  <img src="static/images/vid2.png" alt="Image 2">
  <div class="text-overlay">Your Support, Anytime</div>
</div>

  <div class="mySlides">
    <img src="static/images/Amb2.jpg" alt="Image 2">
    <div class="text-overlay">Together, We Can Handle It</div>
  </div>

  <div class="mySlides">
    <img src="static/images/vid3(1).png" alt="Image 2">
    <div class="text-overlay">Your Safety, Our Priority</div>
  </div>

</div>



<script>
  let slideIndex = 0;
  const slides = document.getElementsByClassName("mySlides");

  function showSlides() {
    for (let i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }

    slideIndex++;
    if (slideIndex > slides.length) { slideIndex = 1 }

    const currentSlide = slides[slideIndex - 1];
    currentSlide.style.display = "block";

    // Check if current slide contains a <video>
    const isVideo = currentSlide.querySelector("video");

    if (isVideo) {
      isVideo.currentTime = 0; // restart video
      isVideo.play();          // play the video
    }

    const delay = isVideo ? 10000 : 4000; // 10 sec for video, 4 sec for images
    setTimeout(showSlides, delay);
  }

  showSlides(); // Start slideshow
</script>


<div class="view">
  {% for i in block_range %}
    <div class="block"></div>
  {% endfor %}
</div>
{% endblock %}
