{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/members.css') }}">

<div class="members-container">
    <h2>Our Members</h2>
    <p>Meet our experienced and compassionate Project team.</p>

    <div class="member-grid">
    <div class="member-card">
        <img src="{{ url_for('static', filename='images/Lead.png') }}" alt="Lead">
        <h3>Dilip</h3>
        <p>Lead Developer</p>
        <p>UI/UX Design – Backend and Frontend Integration – Map Integration</p>
    </div>

    <div class="member-card">
        <img src="{{ url_for('static', filename='images/mem1.png') }}" alt="mem-1">
        <h3>Manshi</h3>
        <p>System Engineer</p>
        <p>Flask – Algorithm Implementation – Optimization</p>
    </div>

    <div class="member-card">
        <img src="{{ url_for('static', filename='images/mem2.png') }}" alt="Mem-2">
        <h3>Nandini</h3>
        <p>Data Analyst</p>
        <p>Database Management Deployment - System Testing</p>
    </div>
</div>

</div>
{% endblock %}
