{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/services.css') }}">

<!-- Main Section with Heading and Image -->
<div class="services-header">
    <h2>Our Services</h2>
    <p>We offer Route Visualization, Signal Prioritization, Path Optimization .</p>
    <img src="{{ url_for('static', filename='images/logo1.png') }}" class="img-fluid" alt="Services">
</div>

<!-- Button Containers with Cards -->
 
<div class="button-grid">
  <div class="button-card">
    <h3>Dijkstra Route</h3>
    <p>Calculate the shortest route between two medical nodes using Dijkstra's algorithm.</p>
    <a href="/dijkstra" class="button">Open Route Finder</a>
  </div>

  <div class="button-card">
    <h3>Live Map Tracker</h3>
    <p>Track your location and get real-time routing to facilities using the Leaflet map.</p>
    <a href="/live_map" class="button">Open Live Map</a>
  </div>

  <div class="button-card">
    <h3>Ambulance Signal</h3>
    <p>Visualize the ambulance network and explore node data interactively and send signal to Operator.</p>
    <a href="/signal" class="button">Open Graph View</a>
  </div>

    <div class="button-card">
    <h3>A* Obstacle</h3>
    <p>Visualize the A* algorithm efficiently exploring nodes while avoiding obstacles.</p>
    <a href="/astr" class="button">Open Free Path</a>
  </div>

</div>

{% endblock %}
